# Environment variables to set for Paperless
# Commented out variables will be replaced with a default within Paperless.
#
# In addition to what you see here, you can also define any values you find in
# paperless.conf.example here.  Values like:
#
# * PAPERLESS_PASSPHRASE
# * PAPERLESS_CONSUMPTION_DIR
# * PAPERLESS_CONSUME_MAIL_HOST
#
# ...are all explained in that file but can be defined here, since the Docker
# installation doesn't make use of paperless.conf.


# Additional languages to install for text recognition.  Note that this is
# different from PAPERLESS_OCR_LANGUAGE (default=eng), which defines the
# default language used when guessing the language from the OCR output.
# PAPERLESS_OCR_LANGUAGES=deu ita

# You can change the default user and group id to a custom one
# USERMAP_UID=1000
# USERMAP_GID=1000
# Environment variables to set for Paperless
# Commented out variables will be replaced with a default within Paperless.
#
# In addition to what you see here, you can also define any values you find in
# paperless.conf.example here.  Values like:
#
# * PAPERLESS_PASSPHRASE
# * PAPERLESS_CONSUMPTION_DIR
# * PAPERLESS_CONSUME_MAIL_HOST
#
# ...are all explained in that file but can be defined here, since the Docker
# installation doesn't make use of paperless.conf.


# Additional languages to install for text recognition.  Note that this is
# different from PAPERLESS_OCR_LANGUAGE (default=eng), which defines the
# default language used when guessing the language from the OCR output.
# PAPERLESS_OCR_LANGUAGES=deu ita

# You can change the default user and group id to a custom one
# USERMAP_UID=1000
# USERMAP_GID=1000

# LDAP options
# Uncomment the following line to enable ldap authetication
#PAPERLESS_USE_LDAP=True

#PAPERLESS_AUTH_LDAP_SERVER_URI=ldap://172.20.0.1
#PAPERLESS_AUTH_LDAP_BIND_DN=cn=admin,dc=planetexpress,dc=com
#PAPERLESS_AUTH_LDAP_BIND_PASSWORD=GoodNewsEveryone

#PAPERLESS_AUTH_LDAP_USER_DN=ou=people,dc=planetexpress,dc=com
#PAPERLESS_AUTH_LDAP_USER_SEARCH_FILTER=(uid=%(user)s)

#PAPERLESS_AUTH_LDAP_GROUP_DN=ou=people,dc=planetexpress,dc=com
#PAPERLESS_AUTH_LDAP_GROUP_SEARCH_FILTER=(objectClass=groupOfNames)
#PAPERLESS_AUTH_LDAP_GROUP_TYPE=groupOfNames

#PAPERLESS_AUTH_LDAP_GROUP_DN_ACTIVE=cn=ship_crew,ou=people,dc=planetexpress,dc=com
#PAPERLESS_AUTH_LDAP_GROUP_DN_STAFF=cn=ship_crew,ou=people,dc=planetexpress,dc=com
#PAPERLESS_AUTH_LDAP_GROUP_DN_SU=cn=ship_crew,ou=people,dc=planetexpress,dc=com

#PAPERLESS_AUTH_LDAP_START_TLS=False
#PAPERLESS_AUTH_LDAP_REQUIRE_GROUP=cn=ship_crew,ou=people,dc=planetexpress,dc=com

#PAPERLESS_AUTH_LDAP_CACHE_TIMEOUT=0


